button {
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color $transition;
    border-radius: 3px;
    border: none;
    font-family: 'museo sans';
    background-color: $blue;

    &:hover {
        background-color: lighten($blue, 3%);
    }

    &:active {
        background-color: darken($blue, 3%);
    }
}
