/* imports */
@import './imports/variables';
@import './imports/fonts';
@import './imports/global';
/* components */
@import '../components/button/button';
@import '../components/greeting/greeting';

.clear::after {
    content:"";
    display:table;
    clear:both;
}

.left {
    float: left;
}

.right {
    float: right;
}
