/* imports */
@import './imports/variables';
@import './imports/fonts';
@import './imports/global';

/* components */
@import '../components/user-table/user-table';
@import '../components/user-profile/user-profile';
@import '../components/message/message';

.clear::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}
